
<!--Componente Portafolio-->
 
      
  <h3>Propiedades Destacadas</h3>
          
     <div class="row">
  <!-- Primer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/Casa1.webp" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Casa en San Luis Potosi</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Segundo Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/casa2.jpg" class="card-img-top" alt="web optimization">
      <div class="card-body">
        <h4>Casa en Durango, Col. Loma Dorada</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Tercer Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/casa3.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Casa en San Nicolas de Los Garza Nuevo Leon</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Cuarto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/casa4.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Casa en Boca del Rio Veracruz</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Quinto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/casa5.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Casa en Veracruz Boca del Rio</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Sexto Card -->
  <div class="col-12 col-md-4">
    <div data-aos="fade-up" class="card shadow-lg" style="max-width: 90%; margin: auto;">
      <img src="../../../assets/casa6.webp" class="card-img-top" alt="">
      <div class="card-body">
        <h4>Casa en la Ciudad de Merida</h4>
        <div class="text-center">
          <a class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none" href="https://www.inmuebles24.com/inmobiliarias/construcciones-y-edificaciones-la-strada-di-cemento_102635886-inmuebles.html" target="_blank">
            Leer más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Componente Contacto -->

<section id="contact" class="bg-light">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-6 text-center px-3">
          <div data-aos="fade-right" class="row justify-content-center align-items-center mt-md-5">
            <p><b><span style="font-size: larger;">Contáctanos</span></b></p>

          </div>
  
          <div data-aos="fade-right" style="border-radius: 25px;" class="col-12 bg-white my-4 shadow-lg">
            <div class="row justify-content-center align-items-center p-4">
              <form id="contact-form" action="https://formsubmit.co/bfd4e9046cd563d6d68f1e23d616c52b" method="POST">
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Nombre Completo"/>
                  <label for="name">Nombre Completo</label>
                </div>
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Correo Electrónico"
                  />
                  <label for="email">Correo Electrónico</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <input
                    style="border-radius: 20px;"
                    type="text"
                    name="subject"
                    id="subject"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Asunto..."
                  />
                  <label for="subject">Asunto...</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <textarea
                    class="form-control border-1 text-dark"
                    id="query"
                    style="height: 140px; border-radius: 25px;"
                    placeholder="Mensaje..."
                    name="Mensaje"
                  ></textarea>
                  <label for="query">Mensaje...</label>
                </div>
                <div class="col-12 mt-4 text-center mb-3">
                  <button
                    type="submit"
                    class="btn btn-primary text-light btn-lg fw-bold"
                  >
                    Enviar
                  </button>
                  <br> <br>
                  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

<div class="whatsapp-button">
  <a href="https://api.whatsapp.com/send?phone=5637710517" target="_blank">
    <img src="../../../assets/icono-whatsapp--removebg-preview.png" alt="WhatsApp" width="20%">
  </a>
</div>
  
  <!--Componente Footer-->
  <section
style="background: linear-gradient(to bottom, rgba(12, 82, 46, 0.791), #141e30);"
class="py-3"
>
<div class="container-lg">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-12 text-lg-start text-center">
      <p class="cursor text-white">
        Copyright © 2022 |
        <span class="fw-bold" style="color: #02c09acc;">
          CONSTRUCCIONES Y EDIFICACIONES LA STRADA DICEMENTO
        </span>
      </p>
    </div>
    </div>
  </div> 

</section>