/* Estilos de la barra de navegación */
.navbar {
  background-color: transparent !important;
  transition: transform 1s, padding 1s;
  padding: 10px 0; /* Reduce el padding para disminuir la altura */
}

/* Ajusta el fondo de la barra de navegación cuando se desplaza hacia abajo */
.nav.nav--hidden {
  transform: translateY(-100%);
}

/* Clase para cambiar el color de fondo de la barra de navegación */
.cambiocolor {
  background-color: transparent !important;
}

/* Estilos del encabezado (hdr) */
.hdr {
  padding: 10px 0; /* Reduce el padding para disminuir la altura */
  background-color: rgba(12, 82, 46, 0.791) !important;
  transform: translateY(0);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Estilos del encabezado cuando se desplaza hacia abajo (hdrScroll) */
.hdrScroll {
  padding: 10px 0; /* Mantiene el padding reducido */
  transform: translateY(-100%);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

