
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/FachadaStrada.jpg" class="d-block w-100" alt="..." style="filter: brightness(0.8);">
      <div class="carousel-caption d-md-block">
        <h2 class="display-5 fw-bold">El camino hacia tu nuevo Hogar comienza aquí !.</h2>
        <h5>Construcciones y edificaciones Strada</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Piso3.jpg" class="d-block w-100" alt="..." style="filter: brightness(0.7);">
      <div class="carousel-caption">
        <h2 class="display-5 fw-bold">Aprovecha nuestros precios y convierte tus sueños en realidad</h2>
        <h5>Construcciones y edificaciones Strada</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Piso1Strada.jpg" class="d-block w-100" alt="..." style="filter: brightness(0.6);">
      <div class="carousel-caption d-md-block">
        <h2 class="display-5 fw-bold">Adquiere tu hogar soñado a precios insuperables ¡Oportunidades únicas a tu alcance!</h2>
        <h5>Construcciones y edificaciones Strada</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Piso5.jpg" class="d-block w-100" alt="..." style="filter: brightness(0.6);">
      <div class="carousel-caption d-md-block">
        <h2 class="display-5 fw-bold">Adquiere tu hogar soñado a precios insuperables ¡Oportunidades únicas a tu alcance!</h2>
        <h5>Construcciones y edificaciones Strada</h5>
      </div>
    </div>
  </div>
</div>



    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  




  
  
  <!--Componente Suministros-->
  <section id="ourmotto" class="bg-light">  
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-12 text-center">
          <h1 class="display-4 fw-bold text-dark">¿Quiénes somos?</h1>
        </div>
        <div class="col-md-6 col-12 text-dark">
          <p class="lead">
            Somos una inmobiliaria especializada en la venta de propiedades de recuperación bancaria, provenientes de créditos hipotecarios
             fallidos. Con una sólida experiencia en el mercado y un equipo de profesionales altamente capacitados, nos dedicamos a encontrar
              las mejores oportunidades para nuestros clientes. Creemos en la importancia de la transparencia y el compromiso, trabajando 
              incansablemente para garantizar que cada transacción sea exitosa y beneficiosa para todas las partes involucradas
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/VentasStrada.jpg" class="card-img-top" alt="Ventas">
            <div class="card-body">
              <h5 class="card-title">Venta de Propiedades</h5>
              <p class="card-text">Ofrecemos una amplia gama de propiedades de recuperación bancaria, desde viviendas para familias pequeñas hasta inmuebles
                residenciales</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/OficinaStrada.jpg" class="card-img-top" alt="Asesoramiento">
            <div class="card-body">
              <h5 class="card-title">Asesoramiento Personalizado</h5>
              <p class="card-text">Nuestros expertos inmobiliarios brindan asesoramiento personalizado para ayudarte a encontrar
                 la propiedad que mejor se adapte a tus necesidades y presupuesto.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/TramitesStrada.jpg" class="card-img-top" alt="Tramites">
            <div class="card-body">
              <h5 class="card-title">Gestión de Trámites</h5>
              <p class="card-text">Nos encargamos de todos los trámites legales y administrativos necesarios para la compra de tu propiedad, 
                garantizando un proceso ágil y sin complicaciones</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="card">
            <img src="../../../assets/OficinaM.jpg" class="card-img-top" alt="Misión">
            <div class="card-body">
              <h5 class="card-title">Misión</h5>
              <p class="card-text">Facilitar el acceso a propiedades de recuperación bancaria, proporcionando a nuestros clientes oportunidades 
                únicas para adquirir inmuebles a precios competitivos. Ayudamos a encontrar el hogar ideal y a los inversores a maximizar su capital</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  